<p id="notice"><%= notice %></p>

<p>
  <strong>Temprature:</strong>
  <%= @weather.temprature %>
</p>

<p>
  <strong>Humidity:</strong>
  <%= @weather.humidity %>
</p>

<%= link_to 'Edit', edit_weather_path(@weather) %> |
<%= link_to 'Back', weathers_path %>
